/* HOME */
.home-container {
  overflow: hidden;
  position: relative;
}


/* ABOUT */
.featurette {
  margin: 50px;

}

.img-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.featurette img {
  display: block;
  width: 100%;
  height: auto;
}

/* STORE */
.main-img-store {
  width: 100%;
  object-fit: cover;
  height: 300px;
  overflow: hidden;
}
